* 
{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Inter';
}


body 
{
  background: #f3f4f7;
}

html 
{
  scroll-behavior: smooth;
}

h2 
{
  text-transform: capitalize;
}

h3
{
  text-transform: capitalize;
}

footer a 
{
  color: white;
}

.section
{
  margin: auto;
  padding: 200px 2em;
}

.text-end 
{
  text-align: end;
}


/*********-------------------- NAVBAR -----------------**********/
nav 
{
  height: 80px;
  width: 100%;
  height: 70px;
  font-size: 14px;
  backdrop-filter: blur(16px);
  background-color: rgba(234, 237, 240, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  color: black;
  position: fixed;
  z-index: 999;
}

.nav 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0em 1em;
}

.logo 
{
  height: 42px;
  margin-right: 18px;
}

button.btn-nav-nft 
{
  padding: 4px 8px;
  gap: 4px;
  width: 83.96px;
  height: 28px;
  left: calc(50% - 83.96px/2 + 295.33px);
  top: calc(50% - 28px/2 - 4428px);
  background: #191C1F;
  border-radius: 5px;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-es 
{
  width: 120px !important;
}

.btn-es.btn-nav-nft 
{
  margin-right: 0px !important;
}

.btn-nav-nft  a 
{
  color: white;
}

.lang-icon 
{
  width: 35px;
  margin-right: 10px;
}

.div-btn-lang
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlinks li 
{
  display: inline-block;
  margin: 0 5px;
}

.navlinks li a 
{
  padding: 0px 10px;
  border-radius: 3px;
  font-style: normal;
  font-weight: 600;
  color: #000;
  line-height: 20px;
}

.es li a 
{
  padding: 0px 8px;
}


.checkbtn 
{
  float: right;
  cursor: pointer;
  width: 23px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#check 
{
  display: none;
}

.navlinks 
{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(234 237 240);
  top: 70px;
  left: -100%;
  text-align: center;
  transition: all 0.5s;
}

.navlinks li 
{
  display: block;
  margin: 30px 0;
  line-height: 30px;
}

#check:checked ~ ul 
{
  left: 0;
}

.desktop 
{
  display: none;
}

.language-selector 
{
  position: relative;
}

.selected-language 
{
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
}

.selected-language .language-name 
{
  margin-right: 5px;
}

.selected-language .language-icon 
{
  font-size: 12px;
}

.language-options 
{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.language-options li 
{
  padding: 8px 12px;
}

.language-options li a 
{
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s;
}

.language-options li a:hover 
{
  color: #007EFC;
}

.language-options li:last-child 
{
  border-bottom: none;
}

/*********-------------------- ABOUT US -----------------**********/
.container-cards 
{
  margin-top: 77px;
}

.hoverEffect
{
  transition: transform 0.3s ease;
}

.hoverEffect:hover 
{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.header-card.header-card-middle
{
  text-align: end;
}

.about-header 
{
  text-align: center;
}

.middle
{
  margin: 20px 0px;
}

.card 
{
  border-radius: 30px;
  padding: 40px;
  overflow: hidden;
  height: 450px;
}

.card.yellow 
{
  background: #FDD817;
}

button.btn-about 
{
  border: 1px solid #000000;
  border-radius: 20px;
  background: no-repeat;
  font-size: 20px;
  width: 177px;
  height: 33px;
  font-weight: 700;
  transition: all 0.2s;
  cursor: pointer;
}
button.btn-team 
{
  height: 45px;
  width: 208.4px;
  border-radius: 30px;
}
button.btn-about:hover 
{
  background: black;
  color: white;
  transition: all 0.2s;
}

.btn-blue
{
  background: #0B6EF9;
  border: 1px solid #0B6EF9;
  border-radius: 20px;
  color: white;
  transition: all 0.2s;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  z-index: 99;
  width: 177px;
  height: 33px;
}
.btn-blue:hover 
{
  background: none;
  border: 1px solid #ffffff;
  color: rgb(255, 255, 255);
}

.secured
{
  width: 100%;
}
.lower 
{
  width: 100%;
}
.support 
{
  width: 60%;
  margin-top: 2em;
}

.card.purple
{
  background: #865AE2;
  color: white;
}
.card.white
{
  background: #ffffff;
}


/*********-------------------- TEAM -----------------**********/
.directores
{
  margin: auto;
  margin-top: 77px;
}
.directores
{
  margin-bottom: 10px;
}
.members-team
{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

#teamMembers 
{
  display: none;
}

.card-team 
{
  width: 238.92px;
  height: 278px;
  perspective: 1000px; 
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
}
.card-team:hover
{
  transform: scale(1.1);
}
.card-teams:hover
{
  transform: scale(1.1);
}

.card-front img
{
  border-radius: 20px;
}

.card-back h2 
{
  font-size: 18px;
  font-weight: 600;
}
.card-back h3
{
  font-weight: 600;
  font-size: 19px;
}
.social-link
{
  width: 30px;
}

.card-teams
{
  width: 145px;
  height: 170px;
  overflow: hidden;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
}

.image 
{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.image img 
{
  width: 100%;
  height: 100%;
  transition: transform 0.3s, filter 0.3s;
  border-radius: 20px;
}

.overlay 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff1c, #00000061);
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  flex-direction: column;
  align-items: flex-start;  
  padding: 10px;
  border-radius: 20px;
}
.members-team
{
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.overlay:hover 
{
  opacity: 1;
}

.social-link-2
{
  width: 30px !important;
  height: 30px  !important;
}
.text-teams
{
  text-align: start;
  width: 100%;
}
.text-teams h3
{
  font-size: 15px;
  margin-bottom: 0px;
}
.text-teams p
{
  font-size: 15px;
}
.container-team
{
  margin-bottom: 200px;
  text-align: center;
}


/*********-------------------- NFTS -----------------**********/
.section-nfts 
{
  text-align: center;
  padding: 0em 2em;
}

.h2 
{
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  letter-spacing: -0.025em;  
  color: #000000;
  margin: 29px 0px;
}

.text-nft
{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.025em;
  color: #454545;
}

p.text-p
{
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.025em;
  color: #000000;
  font-size: 16px;
}

.input-group 
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group input[type="number"]::-webkit-inner-spin-button,
.input-group input[type="number"]::-webkit-outer-spin-button
{
    -webkit-appearance: none !important;
    margin: 0;
}

.nft-header
{
  padding: 0em 0em 2em 0em;
}

.btn-purchase 
{
  width: 245px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-size: 20px;
}

.info-btn
{
  border: none;
  background: none;
  width: 33px;
  height: 33px;
  cursor: pointer;
  position: absolute;
}

.info-btn:hover 
{
  background: black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-btn:hover > img
{
  width: 125%;
  height: 125%;
  filter: invert(1);
}

.info-btn img 
{
  width: 100%;
}

.tarjeta-nft
{
  margin: auto;
  width: 100%;
}

.card-nft 
{
  width: 100%;
  height: 585px;
  perspective: 1000px;
  margin-bottom: 2em;
}

.front, .back 
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 0.6s;
  padding: 40px;
}

.front 
{
  display: flex;
  flex-direction: column;
  transform: rotateY(0deg);
  box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  border-radius: 30px;
  display: flex;
  overflow: hidden;
}

.back 
{
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
  box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  border-radius: 30px;
  overflow: hidden;
}

.last-of-info 
{
  padding: 40px;
  text-align: start;
}

.card-nft.flip .front 
{
  transform: rotateY(180deg);
}

.card-nft.flip .back 
{
  transform: rotateY(0deg);
}

input
{
  text-align: center;
  font-size: 18px;
}

input.cantidad 
{
  width: 43px;
  background: #f3f4f7;
  height: 32px;
  border-radius: 5px;
  border: 1.5px solid #000000e1;
  margin: 0em 0.1em;
  font-weight: 600;
}

input.precioTotal 
{
  width: 82px;
  background: #f3f4f7;
  height: 32px;
  border-radius: 5px;
  border: 1.5px solid #000000e1;
  font-weight: 600;
}

.sumar 
{
  margin-right: 17px;
  font-size: 25px;
  cursor: pointer;
}

.restar 
{
  font-size: 25px;
  cursor: pointer;
}

span.close-btn 
{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
  cursor: pointer;
}

.close-btn:hover > img
{
  filter: invert(1);
  transition: all .1s;
}
.close-btn:hover 
{
  background: black;
  transition: all .1s;
}

.data-back 
{
  text-align: start;
  font-size: 21px;
  margin-top: 20px;
}

.card-img-back 
{
  margin: auto 0px 0px auto;
}

.back-img1 
{
  width: 218px;
}
.back-img2 
{
  width: 184px;
}
.back-img3 
{
  width: 196px;
}
.back-img1 > img 
{
  width: 100%;
}
.back-img2 > img 
{
  width: 100%;
}
.back-img3 > img 
{
  width: 100%;
}

.card-white 
{
  background: white;
}

.card-orange 
{
  background: #F7A037;
}

.card-orange h3
{
  color: white;
}
.card-orange p
{
  color: white;
}

.title-card 
{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  text-align: start;
}

.text-card 
{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  text-align: justify;  
  margin-bottom: 20px;
}

.hover-button 
{
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 184px;
  height: 45px;
  background: #191C1F;
  border-radius: 30px;
  color: white;
  border: none;
  margin-top: 29px;
  transition: all 0.3s;
  font-weight: 600;
}

.hover-button:hover 
{
  left: 0;
  background: none;
  border: solid 1px black;
  color: black;
  transition: all 0.3s;
}

/*********-------------------- FOOTER -----------------**********/
.h3-footer
{
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  border-bottom: 1px solid white;
  padding-bottom: .5px;
  width: max-content;
  margin-bottom: .8em;
}

footer
{
  background: black;
  color: white;
  padding: 80px 2em;
  box-sizing: border-box;
  margin-top: 220px;
}

.container-footer
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer .column
{
  width: 50%;
  margin-bottom: 1em;
}

footer .column2
{
  width: 50%;
}

footer ul
{
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
}

ul
{
  list-style: none;
  padding: 0;
}

.social-icons
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social-icons li
{
  margin-right: 7px;
}

.social-icons img
{
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-bottom: .5em;
}
.social-icons > img
{
  width: 100%;
}
.desktop 
{
  display: none;
}

@media (min-width: 600px) 
{

  .mobile 
  {
    display: none !important;
  }

  .desktop 
  {
    display: block;
  }

  .flex 
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .flex-cards 
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left 
  {
    width: 49%;
    margin-right: 10px !important;
    margin-top: 20px !important;
  }

  .right 
  {
    width: 49%;
    margin-left: 10px;
    margin-top: 20px;
  }

  .middle
  {
    margin: 0px 0px;
  }

  .mitad 
  {
    width: 50%;
    margin: auto;
  }


  /*********-------------------- NAVBAR -----------------**********/
  nav 
  {
    display: flex;
    justify-content: center;
  }

  .lang-icon 
  {
    margin-right: 0px;
  }

  .nav 
  {
    display: flex;
    justify-content: space-between;
    padding: 0em 2em !important;
  }

  .navlinks 
  {
    position: relative;
    margin: 0em;
    height: 100%;
    display: flex;
    align-items: center;
    background: none;
    left: auto;
    right: auto;
    top: auto;
    justify-content: flex-start;  
    width: auto;
  }

  .checkbtn
  {
    display: none;
  }

  .btn-nav-nft
  {
    margin-right: 20px;
  }


  /*********-------------------- ABOUT US -----------------**********/
  .card.yellow 
  {
    display: flex;
  }
  .title-card 
  {
    font-size: 32px;
  }
  .text-card 
  {
    font-size: 20px;
    margin: 20px 0px 0px 0px;
  }

  .secured
  {
    width: 243px;
  }
  .lower 
  {
    width: 127%;
    margin-left: -40px;
    margin-bottom: -40px;
  }
  .support 
  {
    width: 115px;
    margin-top: 0em;
  }
  .end-img 
  {
    text-align: end;
  }
  .btn-about 
  {
    margin-top: 20px;
  }
  .btn-blue
  {
    margin-top: 20px;
    width: 224.12px;
  }



  /*********-------------------- TEAM -----------------**********/
  .card-team 
  {
    margin-bottom: 0px;
  }
  .card-teams
  {
    margin-bottom: 0px;
  }
  .container-team
  {
    text-align: start;
  }
  .members-team
  {
    flex-wrap: nowrap;
  }



  /*********--- NFTs ---**********/
  .section-nfts
  {
    padding: 0em !important;
  }

  .nft-header
  {
    padding: 0em;
  }

  .h2 
  {
    font-size: 55px;
    line-height: 65px;  
  }
  p.text-p
  {
    font-size: 32px;
    line-height: 40px;  
  }

  .container-nfts
  {
    display: flex;
    flex-wrap: wrap;
    margin-top: 77px;
    padding: 2em !important;
    justify-content: center;
  }
  .mg-top
  {
    margin-top: 20px;
  }
  .mg-right
  {
    margin-right: 20px;
  }
  .card-nft 
  {
    width: 48%;
    margin-bottom: 0px;
    height: 517px;
  }

  .btn-purchase 
  {
    width: 245px;
    margin-top: 50px;
  }
  
  .hover-button 
  {
    font-size: 20px;
  }
  
}

@media (min-width: 993px) 
{
  .tablet
  {
    display: none;
  }

  .nav 
  {
    width: 777px;
    padding: 0em 0em !important;
  }

  .section
  {
    width: 777px;
    margin: auto;
    padding: 200px 0em 0px 0em !important;
  }
  .header-top
  {
    padding-top: 253px !important;
  }

  .section-2 
  {
    width: 777px;
    margin: auto;
    margin-top: 200px;
  }

  .text-center 
  {
    text-align: center;
  }

  .card 
  {
    border-radius: 30px;
    padding: 40px;
    height: 428px;
  }

  /*********--- NFTs ---**********/
  .card-nft 
  {
    width: 377px;
  }
  .container-nfts
  {
    padding: 0em !important;
  }

  /*********-------------------- ABOUT US -----------------**********/
  .secured
  {
    width: 343px;
  }
  .support 
  {
    width: 155px;
    margin-top: 0em;
  }
  .header-card.mitad 
  {
    margin-left: 2em;
  }

  /*********--- FOOTER ---**********/
  footer
  {
    text-align: start;
  }

  .container-footer
  {
    flex-wrap: nowrap;
    width: 777px;
    margin: auto;
  }

  .h3-footer
  {
    text-align: start;
    margin-left: 0px;
  }

  .social-icons
  {
    flex-wrap: nowrap;
  }

  .column
  {
    width: 25%;
  }

  .column2
  {
    width: 25% !important;
  }

}